<script src="../bower_components/page/page.js" charset="utf-8"></script>

<script>
  var app = document.querySelector('activity-feed');
  window.addEventListener('WebComponentsReady', function() {
    page('/', function() {
      console.log('home selected');
      app.route = "home";
    });
    page({
      hashbang: true
    })
  });
</script>
