body {
  margin: 20px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Marcellus", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

H1, H2, H3, H4, H5, H6 {
  font-family: "Flamenco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
font-family: 'Oldenburg', cursive; // header better
font-family: 'Marcellus', serif; // both
font-family: 'Voltaire', sans-serif; // headers only
font-family: 'Overlock', cursive; // body
font-family: 'Flamenco', cursive; // both
font-family: 'Poiret One', cursive;
font-family: 'Baumans', cursive;
*/
